.conteiner{
  padding: 0 24px;
}
.conteinerPage{
  display: flex;
  justify-content: center;
}


@media (min-width: 768px) and (max-width: 1279px){
  .conteiner{
    padding: 0 40px;
  }
  .backButton{
    margin-top: 40px;
  }  
}

@media  (min-width: 1280px){
  .conteiner {
    padding: 0 80px;
  }
  .backButton{
    margin-top: 18px;
  } 
  
}