.card{  
    position: relative;
    width: 272px;
    height: 480px;
    background-color:rgba(166, 141, 174, 0.28);
    border-radius: 12px;  
    
}
  
  
  .imgConteiner{
    overflow: hidden;
    text-align: center;
    width: 272px;
    height: 240px;
    border-radius: 12px 12px 0px 0px;  
    margin: 0;
  }
  
  .image{
    background-size: 100% auto;    
  }
  .options{
    display: flex;
    position: absolute;
    top:12px;
    left: 12px;
    gap: 14px;
  }
  .categoria{
    padding: 6px 12px;
    background-color: white;
    border-radius: 8px;
    color:rgba(123, 97, 255, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .priority{
    padding: 6px 12px;
    background-color: white;
    border-radius: 8px;
    color:rgba(226, 163, 0, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  
  .conteinerContext{
    padding: 0 12px;
  }
  
  .dateConteiner{
    display: flex;
    justify-content: space-between;
  
    padding: 8px 4px;
  
    color: rgba(123, 97, 255, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
  }
  
  .titleCard{
    padding: 16px 4px;
  
    color: rgba(28, 27, 31, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  .description{
    padding: 8px 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 72px;
  }
  
  .conteinerLincCart{
    display: flex;
    justify-content: right;
  
  }

  .linkCard{
    padding: 10px 24px; 
    color: white;  
  
    background-color: rgba(123, 97, 255, 1);
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .linkCard:hover ,.linkCard:focus {
    color: white; 
    box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);

  }

  @media (min-width: 768px) and (max-width: 1279px) {
    .card {        
      width: 332px;
      height: 480px;      
    }
    .imgConteiner {   
      width: 332px;
      height: 240px;          
    }
    

  }
  
  @media (min-width: 1280px) {
    .card {
      width: 302px;
      height: 480px;
    }
    .imgConteiner {
      width: 302px;
      height: 240px;
    }
  }